* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    background: rgb(34,34,34);
    color: white;
}
/*img {*/
/*    position: absolute;*/
/*    width: 465px;*/
/*    height: 750px;*/
/*}*/
header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/butterfly-4427384__340.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgb(34,34,34);
}
header:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgb(34,34,34);
}
h1, h2, h3 {
    color: rgb(253,139,37);
    font-family: 'Flavors', cursive;
}

h1 {
    font-size: 460%;
    letter-spacing: 10px;
    text-transform: uppercase;
}
h2 {
    font-size: 150%;
    font-style: italic;
    margin: 40px 0;
    letter-spacing: 8px;
    font-weight: 100;
}
h3 {
    font-size: 180%;
    letter-spacing: 2px;
}
p {
    margin: 10px 0;
    line-height: 140%;
    font-family: 'Raleway', sans-serif;
}
a, span {
    font-family: 'Raleway', sans-serif;
}
.content {
    font-size: 90%;
}
.select {
    text-align: center;
}
h3.select {
    padding: 40px 0;
}
.summary p {
    font-size: 70%;
    letter-spacing: 2px;
}
.summary a {
    color: white;
    padding: 10px;
    transition: 0.4s;
}
.summary a:hover {
    background: rgba(255,255,255,0.5);
}
.grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    color: white;
    padding: 40px 0;
}
.grid div a {
    color: rgb(130,130,130);
    font-size: 90%;
}
.grid div span {
    font-size: 80%;
    font-style: italic;
    margin: 0 3px;
}
.grid div {
    color: rgb(130,130,130);
    background: rgb(50,50,50);
    padding: 12px;
    box-shadow: 4px 4px rgb(65,65,65);
    transition: 0.7s cubic-bezier(0.17, 0.67, 0, 1.01);
    cursor: pointer;
}
.grid div:hover {
    box-shadow: 8px 8px rgb(65,65,65);
}

.box {
    width: 85%;
    margin: 0 auto;
}
.preamble, .explanation, .participation, .benefits, .requirements {
    width: 80%;
    margin: 60px auto;
    background: rgb(50,50,50);
    padding: 20px;
    box-shadow: 10px 10px rgb(65,65,65);
}
.preamble p, .explanation p, .participation p, .benefits p, .requirements p {
    text-align: justify;
    font-size: 90%;
    color: rgb(150,150,150);
}
.participation a, .requirements a {
    color: rgb(230,230,230);
}
.participation a:hover, .requirements a:hover {
    text-decoration: underline;
}
.preamble {
    display: flex;
}
.explanation {
    display: flex;
}
.participation {
    display: flex;
}
.benefits {
    display: flex;
}
.requirements {
    display: flex;
}

footer {
    padding: 60px;
    background: rgb(50,50,50);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e3edff;
    text-align: center;
    font-size: 80%;
}

footer p {
    margin-bottom: 20px;
}

footer a {
    color: #e3edff;
}
footer div a {
    color: #e3edff;
    margin: 0 8px;
    padding: 10px;
    position: relative;
}

footer div a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e3edff;
    height: 2px;
    transform: scaleX(0);
    transition: 0.4s;
}
footer div a:hover:after {
    transform: scaleX(1);
}
.wrapper {
    background: rgb(55,55,55);
    display: flex;
    justify-content: space-around;
    padding: 40px 5%;
    border-top: 1px solid rgba(0,0,0,0.07);
    font-size: 80%;
}

.design-selection ul li,
.zen-resources ul li,
.design-archives ul li {
    margin: 8px 0;
}

.design-selection ul li span {
    font-style: italic;
    font-size: 75%;
    margin: 0 3px;
}

.design-selection ul li a,
.zen-resources ul li a,
.design-archives ul li a {
    color: rgb(130,130,130);
}

.design-selection ul li a:hover,
.zen-resources ul li a:hover,
.design-archives ul li a:hover {
    color: rgb(230,230,230);

}
.indicator {
    font-size: 120%;
    transition: 0.4s;
}
.next a:hover span {
    transform: translateX(10px);
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 19px;
    }
    h1 {
        font-size: 400%;
    }
    h2 {
        font-size: 140%;
    }
    .preamble, .explanation, .participation, .benefits, .requirements {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 17px;
    }
    h1 {
        font-size: 350%;
        line-height: 100%;
    }
    h2 {
        font-size: 120%;
        line-height: 100%;
    }
    h3 {
        font-size: 150%;
    }
    p, a {
        font-size: 90%;
    }
    .wrapper {
        flex-direction: column;
    }
    .design-selection nav li {
        display: inline-block;
        width: 40%;
        margin: 10px 20px 20px 0;
    }
    .zen-resources ul li {
        display: inline-block;
        width: 40%;
        margin: 10px 20px 20px 0;
    }
    .grid {
        width: 80%;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 500px){
    h1 {
        font-size: 300%;
    }
    h2 {
        font-size: 90%;
    }
}